*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

:root{
    --header-dark: rgb(55, 55, 58);
    --hightlight-border:rgb(48, 204, 191);
    --text-default:rgb(23, 91, 122);
}

/* header and nav */
header{
    padding: 20px 0;
    background-color: var(--header-dark);
    color: var(--header-dark);

}
header h1{
    display: inline;
    background-color: var(--hightlight-border);
    padding: 0 20px 0 20px;
    margin-bottom: 50px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    color: var(--header-dark);
}
header nav{
    float: right;
    margin-right: 5%;
}
header nav ul li{
    display: inline;
}
header nav ul li a{
    margin-right: 40px;
    background-color: var(--header-dark);
    text-decoration: none;
    color: var(--hightlight-border);
    font-size: 25px;
}

/* banner */
.banner{
    background-image: url(./assets/prism-background.jpg);
    height: 200px;
}
.banner p{
    float: right;
    margin: 150px 40px 0 0;
    background-color: white;
    color: var(--text-default);
    padding: 10px 10px;
    border-radius: 14px;
}

/* section title format block */
.primary {
    margin: 40px 0 0 20px;
}
.section-title{
    color: var(--text-default);
    float: left;
    width: 10%;
    text-align: right;
    font-size:25px;
}

/* about me style */
#info-self{
    color: var(--text-default);
    font-size: 20px;
    text-decoration: none;
    border-left: var(--text-default) solid;
    width: 90%;
    margin-left: 200px;
    padding-left: 50px
}
#info-self p{
    width: auto;
}

/* work section -flex */
.flex-container{
    width: 80%;
    border-left: var(--text-default) solid;
    margin-left: 200px ;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* flex general style */
.flex-item{
    width: 45%;
    border-radius: 14px;
    border: 4px solid var(--text-default);
    background-color: var(--header-dark);
    font-size: 16px;
    font-weight: bold;
    min-height: 400px;
    margin: 15px 20px;
}
.first-flex{
    width: 100%;
}
#horesion{
    background-color: var(--hightlight-border);
    color: #393b4f;
    padding: 10px 5px;
    border-radius: 10px;
    background-image: url(./assets/Horiseon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
}
#runbuddy{
    background-color: var(--hightlight-border);
    color: #393b4f;
    padding: 10px 5px;
    border-radius: 10px;
    background-image: url(./assets/Run-buddy-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
}
#WIP{
    background-color: var(--hightlight-border);
    color: #393b4f;
    padding: 10px 5px;
    border-radius: 10px;
    background-image: url(./assets/WIP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

/* contact section */
div nav{
float: right;
margin-right: 5%;
}
div nav ul li{
    display: inline;
    margin-top: 30px;
}
div nav ul li a{
    margin-right: 80px;
    background-color: transparent;
    text-decoration: none;
    color: var(--text-default);
    font-size: 25px;
    margin-top: 20px;
    border-bottom: var(--text-default) solid;
}
#contact-me{
    border-right: var(--text-default) solid;
    padding-right: 200px;
}
